<html>
<head>
    <title>Queue Entry - {{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
	<link rel="manifest" href="/static/site.webmanifest">
</head>
<body>
    <a href="/">Back to list</a>
    <h1>{{.Title}}</h1>
    <p><strong>Status:</strong> {{.Status}}</p>
    <div>
        <h2>Transcript:</h2>
        <p class="text-left">{{.Transcript}}</p>
    </div>
    <div>
        <h2>Summary:</h2>
        {{if .Summary}}
        <p class="text-left">{{.Summary}}</p>
        {{else}}
        <form method="POST" action="/entry/{{.VideoID}}/summarize">
            <input type="submit" value="Generate Summary">
        </form>
        {{end}}
    </div>
</body>
</html>
