# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Debug server
__debug_bin*

# Test binary, built with `go test -c`
*.test

# Go workspace file
go.work
go.work.sum

# env file
.env

# Coding agents
.aider*
.gemini

# VSCode
.vscode/
